<html>
<head><title>Create Student</title></head>
<body>
    <h1>Create Student</h1>
    <form action="/students/create" method="post">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="school">school:</label>
        <input type="text" id="school" name="school" required><br>
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
    </form>
</body>
</html>
