<html>
 <head>
   <title>Student Details</title>
   </head>
      <body>
         <main>
            <h1>Students</h1>
            <p>Name: <%= student.name %></p>
            <p>School: <%= student.school %></p>
         </main>
      </body>
</html>