<html>
   <head>
      <title>Students</title>
      <link rel="stylesheet" href="/style.css" />
      <style>
         main {
            text-align: center;
         }
         ul {
            text-align: center;
            padding-left: 0;
            display: inline-block;
         }
         ul li {
            margin-bottom: 10px;
            list-style-type: none;
         }
      </style>
   </head>
   <body>
      <main>
         <h1>Students</h1>
         <p class="long-text">
            L'École Polytechnique Féminine (EPF), fondée en 1925, est une institution d'enseignement supérieur française réputée pour son engagement en faveur de l'éducation des femmes dans le domaine de l'ingénierie. Située à Sceaux, en région parisienne, l'EPF offre un environnement académique stimulant et inclusif, où les étudiantes sont encouragées à exceller dans les domaines des sciences, de la technologie, de l'ingénierie et des mathématiques (STEM). L'EPF se distingue par son approche pédagogique innovante, axée sur l'apprentissage pratique et l'acquisition de compétences techniques avancées. Les étudiantes bénéficient d'un enseignement de qualité dispensé par des professeurs hautement qualifiés et de vastes possibilités de recherche et de projets collaboratifs. En plus de son engagement académique, l'EPF accorde une grande importance au développement personnel et professionnel de ses étudiantes. Des programmes de mentorat, des stages en entreprise et des opportunités de réseautage sont mis en place pour favoriser leur intégration dans le monde professionnel et les aider à réaliser leur plein potentiel.
         </p>
         <ul>
            <% students.forEach(function(student, index) { %>
               <li><%= student.name %> | <%= student.school %> | <button onclick="window.location.href='/students/<%= index + 1 %>'" type="button">details</button></li>
            <% }) %>
         </ul>
      </main>
      <button id="test">Click me</button>
      <div style="position: fixed; bottom: 20px; right: 20px;">
         <button onclick="window.location.href='http://localhost:3000/'">Home</button>
      </div>
      <script src="/students.js"></script>
   </body>
</html>
